{% extends "layout.html" %}
{% block content %}
<div class="container">
<h1>Last pages</h1>
    <div class="row main">
        <div class="col s12 m4 l4">                
            <div class="collection">
                <a href="/" class="collection-item"><i class="material-icons left">bookmark</i> Index</a>
                <a href="/posts" class="collection-item"><i class="material-icons left">view_module</i> Posts</a>
                <a href="/last-pages" class="collection-item active"><i class="material-icons left">history</i> Last pages</a>
                <a href="/restaurants" class="collection-item"><i class="material-icons left">restaurant</i> Restaurants</a>
                <a href="/settings" class="collection-item"><i class="material-icons left">settings</i> Settings</a>
            </div>
                
        </div>
        <div class="col s12 m8 l8">
            <div class="collection">
                {% for item in pages %}
                <a href="{{ item }}" class="collection-item">{{ item }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    {% endblock %}