{% extends "layout.html" %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="../../static/img/wall.jpg"></div>
</div>  
<div class="container">
<div class="row main">
    <div class="row">
        <div class="col s12 m6 l3 ">
            <img src="../../static/img/user.png" width="230" height="230" >
        </div>
        <div class="col s12 m6 l9">
            <h3>{{ profile.username }}</h3>
            <h5>{{ profile.first_name }}</h5>
        </div>
    </div>
</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="../../static/img/wall.jpg"></div>
</div>  

{% endblock %}