{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row main">
    <div class="col s4">    
        <div class="collection">
            <a href="#!" class="collection-item">Index</a>
            <a href="#!" class="collection-item active">About us</a>
            <a href="#!" class="collection-item">Settings</a>
            <a href="#!" class="collection-item">Contact</a>
        </div>
            
    </div>
    <div class="col s8">
        <h4>Error 404: Page not found</h4>
        <br/><br/>
    </div>
</div>
</div>


{% endblock %}