<html>
    <head>
        <title>Índice</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/static/theme.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Lorem</a>
                    <ul class="right hide-on-med-and-down">
                    <form>
                        <li><input class="nav-input" placeholder="User" id="first_name" type="text" class="validate"></li>
                        <li><input class="nav-input" placeholder="Password" type="password" class="validate"></li>
                        <li><a class="waves-effect waves-light btn-large">Login <i class="material-icons right">save_alt</i></a></li>
                    </form>
                    </ul>
                </div>
            </nav>
        <div class="container">
            <h1>Lorem</h1>
            <div class="row">
                <div class="col s4">
                    <h3>Suspendisse tempus</h3>
                        
                    <div class="collection">
                        <a href="#!" class="collection-item">Index</a>
                        <a href="#!" class="collection-item active">About us</a>
                        <a href="#!" class="collection-item">Settings</a>
                        <a href="#!" class="collection-item">Contact</a>
                    </div>
                        
                </div>
                <div class="col s8">
                    <h3>Dolor sit amet</h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum odio id sem rhoncus porta.
                        Suspendisse tempus lobortis libero ullamcorper viverra. 
                        Duis tellus turpis, ullamcorper quis euismod nec, consectetur ut ex. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Aliquam erat volutpat. Nullam tristique eros leo, vitae auctor 
                        magna sagittis vel. Morbi eu accumsan urna, id sodales libero. 
                        Pellentesque nec neque eu turpis sodales vestibulum. In hac habitasse
                        platea dictumst. Vivamus quis dapibus eros, et tempus erat. 
                        Quisque risus eros, finibus eget sem at, suscipit dignissim ante. 
                        Fusce ac urna quis enim convallis posuere. Phasellus in rutrum lectus. 
                        Suspendisse mollis venenatis lectus eget interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum pulvinar facilisis.
                        <br/><br/>
                        Quisque laoreet ipsum non erat viverra mattis. Curabitur consequat 
                        nec velit a pulvinar. Aenean in eleifend sem. Sed eu est quis leo consequat 
                        tincidunt id ut orci. Phasellus pellentesque scelerisque sodales. 
                        Nulla egestas lacus quis lorem sodales, rutrum sagittis enim semper. 
                        Duis efficitur elementum est a gravida. Etiam bibendum vulputate lectus 
                        id ultricies. Mauris ultricies odio quis neque aliquam convallis. 
                        Nunc vulputate, magna quis viverra mollis, felis dolor varius sem, 
                        vel tincidunt lacus dui eu sem. Suspendisse molestie consequat pharetra. 
                        Pellentesque tempor sem nec feugiat mollis.<br/><br/> 
                </div>
            </div>
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2018 Copyright Jaime
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>