{% extends "layout.html" %}
{% block content %}
<h1>Last pages</h1>
    <div class="row main">
        <div class="col s4">                
            <div class="collection">
                <a href="/" class="collection-item">Index</a>
                <a href="/posts" class="collection-item">Posts</a>
                <a href="/last-pages" class="collection-item active">Last pages</a>
                <a href="#!" class="collection-item">Settings</a>
            </div>
                
        </div>
        <div class="col s8">
            <div class="collection">
                {% for item in pages %}
                <a href="{{ item }}" class="collection-item">{{ item }}</li>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}