{% extends "layout.html" %}
{% block content %}
<h1>Posts</h1>
<div class="row main">
    <div class="col s4">
            
        <div class="collection">
            <a href="/" class="collection-item">Index</a>
            <a href="/posts" class="collection-item active">Posts</a>
            <a href="#!" class="collection-item">Settings</a>
            <a href="#!" class="collection-item">Contact</a>
        </div>
    
        <div class="row">
                <a class="btn waves-effect waves-light" href="/deleteposts">Delete posts</a>
                <h5>New post</h5>
                <div class="col s12">
                    <form action='/newpost' method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" name="title" type="text" class="validate">
                            <label for="title">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="text" name="text" type="text" class="materialize-textarea"></textarea>
                            <label for="text">Text</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Post
                                <i class="material-icons right">send</i>
                            </button>
                        </div> 
                    </div>
                    </form>
                </div>
            </div>
            
    </div>
    
    <div class="col s8">
        <div class="row">
            {% for item in posts %}
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ item.title }}</span>
                        <p>{{ item.text }}</p>
                        <p class="user">{{ item.user }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

    

</div>

{% endblock %}